html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #f3f1f2;
}


@font-face {
	font-family: 'Myriad Pro Regular';
	src: url("../MyriadPro-Regular.otf") format("opentype");
}

.font-style {
	font-size: 22px;
	font-family: "Myriad Pro Regular", sans-serif;
}




.clearfix {
	content: "";
	display: table;
	clear: both;
}



/****************** BULE **************/
.bubble1 {
	margin-left: 203px;
	position: absolute;
	top: 0;
	z-index: -1;
}

.bubble2 {
	position: absolute;
	margin-top: 877px;
	margin-left: 179px;
}

.bubble3 {
	position: absolute;
	top: 1400px;
	right: 100px;
	z-index: -1;
}



.sticky_bottle {
	position: fixed;
	top: 400px;
	right: 100px;
	z-index: 2;
}

/****************** HEADER **************/

.hero_wrapper {
	
	position: absolute;
	top: 0;
	width: 100%;
}

.hero {
	margin: 0 auto;
	width: 87.5%;
	height: 50px;
	background: url(../resources/banner.png) no-repeat center;
	background-size: cover;
}

.social-media {
	float: right;
	margin-right: 60px;
}

.social_icon {
	height: 22px;
	margin-top: 15px;
}

.fb_icon {
	width: 12px;
	margin-right: 32px;
}

.yt_icon {
	width: 30px;
}
/****************** LOGO ****************/
.logo_wrapper {
	position: absolute;
	top: 0;
}

.logo_content {
	margin-left: 204px;
	margin-top: 10px;
}


/****************** CONTENT **************/
.content_wrapp {
	width: 87.5%;
	margin: 48px auto 0 auto;
	height: 100%;
}

/****************** NAV ****************/
.left_content {
	float: left;
}

.nav-bar {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-bar__link {
	text-decoration: none;
	color: #4b4645;
}

.nav-bar__list {
	background: #fff;
	width: 330px;
	padding: 17px 0 16px 0;
	padding-left: 12px;
	margin-bottom: 13px;
}

.nav-bar__list:nth-child(4) {
	margin-bottom: 11px;
}


.nav-bar__list:nth-child(5) {
	background: #fff;
	text-align: center;
}

.details__link {
	color: #f9a7c2;
}

.details__link span {
	padding-left: 10px;
}


/*********** RIGHT-CONTENT ************/
.right_content {
	float: right;
	
    margin-right: 60px;
    width: 60%;
}

.promo-content {
	background-color: #fff;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/*.promo {
	list-style: none;
	padding: 0;
}*/

.promo__list {
	display: inline-block;
	 -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	
}

.promo__garnier {
	
	padding-left: 29px;
}

.promo__garnier p {
	margin-left: 23px;
	font-size: 28px;
}

.promo__garnier p:first-child {
	margin-bottom: 0;
}

.promo__garnier p:nth-child(2) {
	margin-top: 0;
}

.bottle_img {
	width: 100%;
}




.clearfix__margin {
	margin-bottom: 45px;
}


.promo__link {
	background-color: #f9a7c2;
	width: 173px;
	margin: 0 auto;
}

.btn {
	background-color: #f9a7c2;
	border: none;
	padding: 10px 10px 12px 42px;
	color: #fff

}

.btn span {
	padding-left: 10px;
}


.promo__pink {
	background-color: #f9a7c2;
	width: 528px;
	height: inherit;
}


.promo__list--custom {
	max-width: 100%;
	padding: 29px;

}

.promo__list--custom p:first-child {
	font-size: 44px;
	margin-top: 0;
}

.promo__list--custom p:nth-child(2) {
	font-size: 28px;
}

.human-picture img {
	width: 100%;
	position: relative;
}



/****************** SUBSCRIPTION ************/
.subscription-wrapper {
	margin-top: 60px;
	background-color: #fff;
	border: 3px solid #ebbe10;
	padding: 60px 114px 26px 114px;
}

.subscription-wrapper p {
	font-size: 32px;
	text-align: center;
}

.subscription-content {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-display {
	display: inline-block;
	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.field-form {
	border: none;
}

.field-form label {
	display: block;
	text-align: center;
	font-size: 17px;
	padding: 10px 0;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	width: 100%;
}

.bg-input {
	border-radius: 2px;
	border-color: #f6d305;
	background-color: #f6d305;
}

#custom-size {
	font-size: 12px;
	float: right;
	width: 50%;
}

select {
	float: right;
	width: 50%;
}

.submit-input {
	width: 160px;
	margin: 95px auto 0 auto;
}

.submit-input input {
	color: #fff;
	background-color: #f9a7c2;
	padding: 14px 54px;
	border: none;
}


.table-form--style {
	margin-left: 43px;
	margin-top: 40px;
	border-collapse: collapse;
}

.table-form--style td {
	padding-bottom: 33px;
}

.special__td {
	font-size: 13px;
	color: #a3b4a8;
	text-align: center;
}




.right_content:after {
	content: "";
	clear: both;
	display: block;
}